<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .flag {
              border: 1px solid #000000;
              width: 30px;
              height: 20px;
            }
    </style>
</head>
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<!-- navbar-->
<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="container-lg">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    <img th:src="@{../../../../../images/Muscle-Car-Chevrolet-Camaro-SS-icon.png}" alt="menu-icon">
                    Take That Car
                </span>
            </a>
            <!-- toggle button fr mobile nav-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- navbar links-->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/#about" class="nav-link">[[#{menu.aboutTheRental}]]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#reviews" class="nav-link">[[#{menu.reviews}]]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cars" class="nav-link">[[#{menu.cars}]]</a>
                    </li>
                    <!-- hide since small-->
                    <li class="nav-item ms-2 d-none d-sm-inline" sec:authorize="!isAuthenticated()">
                        <a href="/login" class="btn btn-secondary">[[#{menu.login}]]</a>
                    </li>
                    <!-- display since small-->
                    <li class="nav-item d-sm-none" sec:authorize="!isAuthenticated()">
                        <a href="/login" class="nav-link">[[#{menu.login}]]</a>
                    </li>
                    <!-- hide since small-->
                    <li class="nav-item ms-2 d-none d-sm-inline" sec:authorize="isAuthenticated()">
                        <form class="form-signin ms-2 d-none d-sm-inline" method="post" th:action="@{/logout}" name="logoutButton">
                            <button class="btn btn-secondary" type="submit" value="Logout">[[#{menu.logout}]]</button>
                        </form>
                    </li>
                    <!-- display since small-->
                    <li class="nav-item d-sm-none" sec:authorize="isAuthenticated()">
                        <a href="/logout" class="nav-link">[[#{menu.logout}]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-white">
        <div class="container-lg">
            <span class="fw-bold text-secondary">
                [[#{menu.selectYouLanguage}]]:
                <a th:href="@{?lang=pl}"><img th:src="@{../../../../../images/flags/pl.png}" class="flag"></a>
                <a th:href="@{?lang=en}"><img th:src="@{../../../../../images/flags/us.png}" class="flag"></a>
            </span>
        </div>
    </nav>
</div>
<div class="container">
    <br><br><br><br><br><br><br>
</div>
<div class="container bg-secondary rounded-3" sec:authorize="isAuthenticated()">
    <nav class="navbar">
        <div class="container-lg">
            <!-- LEFT SIDE -->
            <div class="justify-content-start align-center" sec:authorize="isAuthenticated()">
                <ul class="nav">
                    <li class="nav-item ms-1 me-1 text-white ">
                        Hello
                    </li>
                    <li class="nav-item ms-1 me-4">
                        <STRONG class="col text-white text-start" sec:authentication="principal.username"/>
                    </li>
                    <li class="nav-item ms-1 me-1">
                        <a href="/user/rental" class="btn btn-sm btn-light">My Rentals</a>
                    </li>
                    <li class="nav-item ms-1 me-1">
                        <a class="btn btn-sm btn-warning" href="/user/settings">Settings</a>
                    </li>
                </ul>
            </div>

            <!-- MIDDLE -->
            <div class="justify-content-center align-center my-2" sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')">
                <a href="/management/manager/rental" type="button" class="btn btn-sm btn-light position-relative">
                    Orders Review
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${newRentals}">
                        99+
                        <span class="visually-hidden">Rentals to check</span>
                    </span>
                </a>
            </div>

            <!-- RIGHT SIDE -->
            <div class="justify-content-end align-center" sec:authorize="hasRole('ROLE_ADMIN')">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/management/admin/user">Users Managment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/cars">Cars Management</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>

</body>
</html>