<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Take That Car! - List of cars</title>
    <style>
        section{
            padding: 60px 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div th:insert="../static/navbar"></div>
<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href = "@{/management/admin/addCar}" class="btn btn-warning btn-sm  mb-3 mt-3 ms-3"> Add Car </a>
    <div th:if="${param.deletionSucced}" class="alert alert-warning" role="alert">
        <div class="col-md-5 text-center text-md-start align-items-center">Car deleted!</div>
    </div>
</div>
<!-- cars display-->
<!-- load JS functions-->
<script src="/js/carPageFunctions.js"></script>

<div class="container-lg">
    <form id="filters" th:action="@{/cars}" th:object="${filterCarsRequestDto}">
        <div class="container">
            <div th:if="${#fields.hasAnyErrors()}">
                <ul th:class="${#fields.hasAnyErrors()}? 'error alert alert-danger'">
                    <li th:each="err : ${#fields.allErrors()}" th:text="' '+${err}" />
                </ul>
            </div>
            <!-- Select car type -->
            <div class="row align-items-center">
              <div class="col-md-3 col-6 mb-2">
                <label for="typeChose">Select car type:</label>
                <select class="form-select" id="typeChose" name="type" th:field="*{type}">
                    <option th:value="0">Chose car type...</option>
                    <option th:each="carType: ${carTypes}" th:text="${carType}" th:value="${carType}">text</option>
                </select>
              </div>
                <!-- Search By-->
              <div class="col-none col-md-3" ></div>
              <div class="col-3">
                <label for="searchByForm">Search by:  </label>
                <div class="form-check form-check-inline" id="searchByForm">
                    <input class="form-check-input" type="radio" name="searchBy" id="Brand" value="Brand" th:field="*{searchBy}">
                    <label class="form-check-label">Brand</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchBy" id="Model" value="Model" th:field="*{searchBy}">
                    <label class="form-check-label">Model</label>
                  </div>
              </div>
                <!-- search-->
              <div class="col-6 col-md-3 d-inline-flex">
                  <form onsubmit="">
                      <input type="text" class="form-control" placeholder="Search..." name="search" id="searchField" th:field="*{search}">
                      <input class="btn btn-secondary" type="submit" value="Search">
                  </form>
              </div>
            </div>
            <!-- Price range -->
            <!-- and Date picker-->
            <div class="row mt-1">
                <div class="col-6 col-md-3">
                    <label for="minPrice">Min price:</label>
                    <input type="text" class="form-control" id="minPrice" name="minPrice" placeholder="0" th:field="*{minPrice}">
                    <p th:each="error : ${#fields.errors('minPrice')}" th:text="${error}" th:class="${#fields.hasErrors('minPrice')}? 'error alert alert-danger'">
                        Validation error
                    </p>
                </div>
                <!-- Date picker-->
                <div class="col-6 col-lg-3">
                    <label for="datepicker1">Start date:</label>
                    <div class="input-group date datepicker" id="datepicker1">
                        <input type="text" class="form-control" name="startDate" id="startDate" placeholder="12-01-2022" value ="" th:field="*{startDate}">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                    <p th:each="error : ${#fields.errors('startDate')}" th:text="${error}" th:class="${#fields.hasErrors('startDate')}? 'error alert alert-danger'">
                        Validation error
                    </p>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 col-md-3">
                    <label for="maxPrice">Max price:</label>
                    <input type="text" class="form-control" id="maxPrice" name="maxPrice" placeholder="0" th:field="*{maxPrice}">
                    <p th:each="error : ${#fields.errors('maxPrice')}" th:text="${error}" th:class="${#fields.hasErrors('maxPrice')}? 'error alert alert-danger'">
                        Validation error
                    </p>
                </div>
                <!-- Date picker-->
                <div class="col-6 col-lg-3">
                    <label for="datepicker2">End date:</label>
                    <div class="input-group date datepicker" id="datepicker2">
                        <input type="text" class="form-control" name="endDate" id="endDate" placeholder="12-01-2022" value="" th:field="*{endDate}">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                    <p th:each="error : ${#fields.errors('endDate')}" th:text="${error}" th:class="${#fields.hasErrors('endDate')}? 'error alert alert-danger'">
                        Validation error
                    </p>
                </div>
            </div>
            <!-- Order By-->
            <div class="row align-items-center mt-1 mb-2">
              <div class="col-7">
                <label for="orderByForm" class="me-2">Order by:  </label>
                <div class="form-check form-check-inline" id="orderByForm">
                    <input class="form-check-input" type="radio" name="orderBy" id="priceAsc" value="priceAsc" th:field="*{orderBy}">
                    <label class="form-check-label" for="priceAsc">Price <i class="bi bi-arrow-up"></i></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="orderBy" id="priceDesc" value="priceDesc" th:field="*{orderBy}">
                    <label class="form-check-label" for="priceDesc">Price <i class="bi bi-arrow-down"></i></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="orderBy" id="brandAsc" value="brandAsc" th:field="*{orderBy}">
                    <label class="form-check-label" for="brandAsc">Brand <i class="bi bi-arrow-up"></i></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="orderBy" id="brandDesc" value="brandDesc" th:field="*{orderBy}">
                    <label class="form-check-label" for="brandDesc">Brand <i class="bi bi-arrow-down"></i></label>
                  </div>
              </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2">
                    <label for="itemsPerPage">Cars per page:</label>
                    <select class="form-select" id="itemsPerPage" name="perPage">
                        <option th:value="5">5</option>
                        <option th:value="10">10</option>
                        <option th:value="20">20</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover ">
        <thead>
            <tr class="">
                <th scope="col">Car image</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Engine</th>
                <th scope="col">HP</th>
                <th scope="col">Fuel</th>
                <th scope="col">Type</th>
                <th scope="col" class="text-center">Sitting places</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="carTable">
             <!--cars go here-->
             <tr th:each="car: ${cars}">
                 <td><image th:src="${car.imagePath}" class="img-fluid"/></td>
                 <td th:text="${car.brand}" class="align-middle"/>
                 <td th:text="${car.model}" class="align-middle"/>
                 <td th:text="${car.carEngine}" class="align-middle" />
                 <td th:text="${car.hp}" class="align-middle" />
                 <td th:text="${car.fuel}" class="align-middle" />
                 <td th:text="${car.carType}" class="align-middle" />
                 <td th:text="${car.sittingPlaces}" class="align-middle text-center" />
                 <td th:text="${car.price}" class="align-middle" />
                 <td sec:authorize="hasRole('ROLE_ADMIN')" class="align-middle col-sm-2">
                     <a class="btn btn-block btn-primary btn-sm me-1" th:href="@{/management/admin/updateCar/{id}(id=${car.id})}">Update</a>
                     <a class="btn btn-block btn-danger btn-sm me-1" th:href="@{/management/admin/deleteCar/{id}(id=${car.id})}">Delete</a>
                 </td>
                 <td class="align-middle">

                     <a class="btn btn-block btn-secondary btn-sm me-1" sec:authorize="isAuthenticated()" th:href="@{/rental/{id}(id=${car.id})}">Rent</a>
                     <a class="btn btn-block btn-secondary btn-sm me-1" sec:authorize="!isAuthenticated()" th:href="@{/login}">Rent</a>
                 </td>
             </tr>
          </tbody>
    </table>

    <div class = "row col-sm-10 align-middle align-items-middle">
        <div class = "col-sm-4">
            Total Rows: [[${totalItems}]] 
        </div>
        <div th:if = "${totalPages > 1}" class="col-sm-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <li class="page-item"><a class="page-link" href="#" th:onclick="'javascript:displayCarsOnEvent(' + ${i} + ',' + ${isAdmin} +')'">[[${i}]]</a></li>
                    </span>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = fillFieldsWithRequestParams();
    /*]]>*/
</script>

<script type="text/javascript">
    function displayCarsOnEvent(clickedPage,isAdmin){
        //not refresh PAGE
        event.preventDefault();
        if (window.performance) {
        console.info("window.performance works fine on this browser");
        }
        console.info(performance.navigation.type);
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        console.info( "This page is reloaded" );
        } else {
        console.info( "This page is not reloaded");
        }

        var carQueryToRest = "/cars?"; 

        var reqPageNumber = null;
        var reqPerPage = null;
        var reqType = null;
        var reqStartDate = null;
        var reqEndDate = null;
        var reqSearchBy = null;
        var reqMaxPrice = null;
        var reqMinPrice = null;
        var reqOrderBy = null;
        var reqSearchQuery = null;

        //Get URL Params
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        carQueryToRest+="pageNumber="+clickedPage;

        if(urlParams.has("perPage")){
            reqPerPage = urlParams.get('perPage');
            carQueryToRest+="&perPage="+reqPerPage;
        }
        if(urlParams.has("type")){
            reqType = urlParams.get('type');
            carQueryToRest+="&type="+reqType;
        }
        if(urlParams.has("startDate")){
            reqStartDate = urlParams.get('startDate');
            carQueryToRest+="&startDate="+reqStartDate;
        }
        if(urlParams.has("endDate")){
            reqEndDate = urlParams.get('endDate');
            carQueryToRest+="&endDate="+reqEndDate;
        }
        if(urlParams.has("searchBy")){
            reqSearchBy = urlParams.get('searchBy');
            carQueryToRest+="&searchBy="+reqSearchBy;
        }
        if(urlParams.has("maxPrice")){
            reqMaxPrice = urlParams.get('maxPrice');
            carQueryToRest+="&maxPrice="+reqMaxPrice;
        }
        if(urlParams.has("minPrice")){
            reqMinPrice = urlParams.get('minPrice');
            carQueryToRest+="&minPrice="+reqMinPrice;
        }
        if(urlParams.has("orderBy")){
            reqOrderBy = urlParams.get('orderBy');
            carQueryToRest+="&orderBy="+reqOrderBy;
        }
        if(urlParams.has("search")){
            reqSearchQuery = urlParams.get('search');
            carQueryToRest+="&search="+reqSearchQuery;
        }

        /*
        if(startDate.value === ""){
            alert("Please fill up Start date field");
            startDateField.focus();
            return;
        }*/

        document.getElementById('carTable').innerHTML = "";

        listsCars('carTable',carQueryToRest,isAdmin);
    }

    $(function() {
        $("#datepicker1, #datepicker2").datepicker({
                                                        //viewMode: 'months',
                                                        format: 'dd-mm-yyyy',
                                                    });
    });
</script>
<footer>
    <div class="container-lg">
    <a href="https://www.flaticon.com/free-icons/car" title="car icons">Car icons created by Freepik - Flaticon</a>
    Menu Icon created by Caleb Amesbury
    http://calebamesbury.com
    http://dribbble.com/CalebAmesbury
    </div>
</footer>
</body>
</html>