<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Take that car! - Rent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take That Car! - Invoice</title>
  <style>
        section{
            padding: 60px 0;
        }
    </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-6">
      <span class="fw-bold text-secondary">
          <img src="../../../../../images/Muscle-Car-Chevrolet-Camaro-SS-icon.png" alt="menu-icon">
          Take That Car
      </span>
    </div>
    <!-- USER/ADDRESS -->
    <div class="col-6 float-end">
      <ul class="list-unstyled text-center">
        <li th:text="${rentalDto.rentalUserDto.firstName} + ' ' + ${rentalDto.rentalUserDto.lastName}">Error</li>
        <li th:text="${rentalDto.rentalUserDto.phone}">Error</li>
        <li th:text="${rentalDto.rentalUserDto.address}">Error</li>
        <li th:text="${rentalDto.rentalUserDto.city}">Error</li>
        <li th:text="${rentalDto.rentalUserDto.zip}">Error</li>
        <li th:text="${rentalDto.rentalUserDto.email}">Error</li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <h3 class="text-uppercase text-center mt-3" style="font-size: 40px;">Invoice</h3>
    <p>Nr.123456789</p>
  </div>
      <div class="row mx-4 mt-2">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" style="width: 600px;">Description</th>
            <th scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="width: 600px;">Rental costs</td>
            <td th:text="${rentalDto.invoiceDto.rentalValue}">500,00</td>
          </tr>
          <tr>
            <td style="width: 600px;">Additional costs</td>
            <td th:text="${rentalDto.invoiceDto.additionalCost}"> 300,00</td>
          </tr>
          <tr>
            <td style="width: 600px;">Damage costs</td>
            <td th:text="${rentalDto.invoiceDto.damageCost}"> 5000,00</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="row">
        <div class="col-8">
        </div>
        <div class="col-4">
          <ul class="list-unstyled float-start me-0">
            <li> <span class="me-5">Discount:</span>
              <span class="float-end">
                0,00
              </span>
            </li>
            <li>
              <span class="me-3 float-start">Total Amount:</span>
              <span class="float-end" th:text="${rentalDto.invoiceDto.rentalValue} + ${rentalDto.invoiceDto.additionalCost} + ${rentalDto.invoiceDto.damageCost}">
                5000
              </span>
            </li>
            <li><span class="float-start" style="margin-right: 35px;">Tax: </span>
              <span class="float-end" th:text="(${rentalDto.invoiceDto.rentalValue} + ${rentalDto.invoiceDto.additionalCost} + ${rentalDto.invoiceDto.damageCost}) * 0.15">
                3214
              </span>
          </ul>
        </div>

        </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <p class="float-start"
             style="font-size: 20px; color: red; font-weight: 400;font-family: Arial, Helvetica, sans-serif;">
            Total:
            <span th:text="(${rentalDto.invoiceDto.rentalValue} + ${rentalDto.invoiceDto.additionalCost} + ${rentalDto.invoiceDto.damageCost}) * 1.15">
              6350,00
            </span>
          </p>
        </div>
      </div>

      <div class="row mt-2 mb-5">
        <p class="fw-bold">Date: <BR>
          <span class="text-muted" th:text="${date} + ' ' + ${time}">23 June 2022</span></p>
        <p class="fw-bold mt-3">Signature:</p>
      </div>

</div>
</body>
</html>