<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div>
    <div th:insert="../static/navbar"></div>
</div>
<div class="container">
    <section id="intro">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center text-md-start">
                    <div th:if="${param.success}">
                        <div class="alert alert-success" role="alert">
                            User have been registered. You can log in.
                        </div>
                    </div>
                    <h1 class="text-center mb-3 text-secondary">Please Log In</h1>
                    <div th:if="${errorMessage}">
                        <div class="alert alert-danger" role="alert" th:text="${errorMessage}">
                            Invalid username or password!
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success" role="alert">
                            You have been logged out.
                        </div>
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-floating mb-4">
                            <input type="text" name="username" class="form-control" id="loginForm1" placeholder="username"/>
                            <label class="form-label" for="loginForm1">Username</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" name="password" class="form-control" id="loginForm2" placeholder="Password"/>
                            <label class="form-label" for="loginForm2">Password</label>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <a href="#!" class="text-center">Forgot password?</a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                        <div class="text-center">
                            <p class="text-center mt-3 text-secondary">If you do not have account, please <a href="/register">Register</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 text-center">
                    <img class="img-fluid" src="images/Toyota-Supra-2020-PNG.png" alt="car-img">
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>