<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Take that car! - Rent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take That Car! - Register User</title>
  <style>
        section{
            padding: 60px 0;
        }
    </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div th:insert="../static/navbar"></div>
<div class="container-lg">
  <div th:if="${error}">
    <p th:text="${error}" class="error alert alert-danger mt-3">
      Processing error
    </p>
  </div>
  <div class="row mt-4">
    <!-- USER DETAILS -->
    <div class="col-md-1"></div>
    <div class="col-md-5 col-7 align-items-end align-end">
      <table class="table">
        <thead>
        <tr>
          <th>User Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 200px;">Id</td>
          <td th:text="${rentalDto.rentalUserDto.id}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Username</td>
          <td th:text="${rentalDto.rentalUserDto.username}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Email</td>
          <td th:text="${rentalDto.rentalUserDto.email}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Full Name</td>
          <td th:text="${rentalDto.rentalUserDto.firstName} + ' ' + ${rentalDto.rentalUserDto.lastName}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Country</td>
          <td th:text="${rentalDto.rentalUserDto.country}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">City</td>
          <td th:text="${rentalDto.rentalUserDto.city}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Address</td>
          <td th:text="${rentalDto.rentalUserDto.address}" class="fw-bold">450.23</td>
        </tr>
        <tr>
          <td style="width: 200px;">Zip</td>
          <td th:text="${rentalDto.rentalUserDto.zip}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Birthdate</td>
          <td th:text="${rentalDto.rentalUserDto.birthDate}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Phone</td>
          <td th:text="${rentalDto.rentalUserDto.phone}" class="fw-bold">Error</td>
        </tr>
        <tr>
          <td style="width: 200px;">Blocked</td>
          <td th:text="${rentalDto.rentalUserDto.blocked}" class="fw-bold" th:classappend="${rentalDto.rentalUserDto.blocked} ? 'text-danger' : 'text-success'">Error</td>
        </tr>
        </tbody>

      </table>
    </div>
    <!-- CAR DISPLAYER-->
    <div class="col-md-3 col-5 text-start bg-secondary rounded-3">
        <table class="table">
        <thead>
        <tr>
          <th>Car details</th>
        </tr>
        </thead>
      </table>
      <div class="row">
        <div class="col-10">
          <image th:src="${rentalDto.carDto.imagePath}" class="img-fluid"/>
        </div>
      </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Brand
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.brand}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Model
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.model}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Engine
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.carEngine}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            HP
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.hp}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Fuel
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.fuel}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Type
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.carType}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Sitting places
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.sittingPlaces}">
            Error
          </div>
        </div>
        <div class="row ms-2">
          <div class="col-6 text-white">
            Price
          </div>
          <div class="col-6 text-white fw-bold" th:text="${rentalDto.carDto.price}">
            Error
          </div>
        </div>
      </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row mt-4">
    <!-- RENTAL DETAILS -->
    <div class="col-md-1"></div>
    <div class="col-md-5 col-7 align-items-end align-end">
      <!-- RENTAL DETAILS -->
      <table class="table">
        <thead>
        <tr>
          <th>Rental Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 200px;">Start date</td>
          <td th:text="${rentalDto.startDate.toLocalDate()}">2022-05-06</td>
        </tr>
        <tr>
          <td style="width: 200px;">End date</td>
          <td th:text="${rentalDto.endDate.toLocalDate()}">2022-05-08</td>
        </tr>
        <tr>
          <td style="width: 200px;">Company driver</td>
          <td th:text="${rentalDto.companyDriver} ? 'Yes' : 'No'">Yes</td>
        </tr>
        </tbody>
      </table>
      <!-- Basic rental payments -->
      <table class="table">
        <thead class="mt-2">
        <tr>
          <th>Basic rental payments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 200px;">Rental costs</td>
          <td th:text="${rentalDto.invoiceDto.rentalValue}">450.23</td>
        </tr>
        <tr>
          <td style="width: 200px;">Additional costs</td>
          <td th:text="${rentalDto.invoiceDto.additionalCost}">100.00</td>
        </tr>
        <tr>
          <td style="width: 200px;">Status</td>
          <td th:class="${rentalDto.invoiceDto.basicPaymentStatus.name().equalsIgnoreCase('paid')} ? 'text-success fw-bold' : 'text-danger fw-bold'" th:text="${rentalDto.invoiceDto.basicPaymentStatus.name()}">Error</td>
        </tr>
        </tbody>
      </table>
      <!-- After rental payments -->
      <table class="table">
        <thead class="mt-2">
        <tr>
          <th>After rental payments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 200px;">Costs of damage</td>
          <td th:text="${rentalDto.invoiceDto.damageCost}">450.23</td>
        </tr>
        <tr>
          <td style="width: 200px;">Status</td>
          <td th:if="${rentalDto.ended}" class="fw-bold" th:text="${rentalDto.invoiceDto.damagePaymentStatus.name()}" th:classappend="${rentalDto.invoiceDto.damagePaymentStatus.name().equalsIgnoreCase('Unpaid')} ? 'text-danger' : 'text-success'">Error</td>
          <td th:if="${!rentalDto.ended}"></td>
        </tr>
        </tbody>
      </table>
      <!-- Rental status -->
      <table class="table">
        <thead class="mt-2">
        <tr>
          <th>Rental status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 200px;">Returned car status</td>
          <td th:if="${rentalDto.ended}" th:class="${rentalDto.carDamaged} ? 'text-danger fw-bold' : 'text-success fw-bold'" th:text="${rentalDto.carDamaged} ? 'Damaged' : 'OK' ">Error</td>
          <td th:if="${!rentalDto.ended}"></td>
        </tr>
        <tr>
          <td style="width: 200px;">Reclaim protocol</td>
          <td th:text="${rentalDto.reclaimProtocol}">Error</td>
        </tr>
        </tbody>

      </table>
    </div>
    <!-- RENTAL UPDATE FORM -->
    <div class="col-md-4 col-6 text-start">
      <!-- Rental aproval -->
      <div class="row my-2">
        <h3>Rental aproval:</h3>
        <!-- Confirm -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Confirmed:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="${rentalDto.confirmed}"></p>
          </div>
          <div class="col mb-1 mt-1">
            <form id="confirmRental" method="post" th:action="@{/management/manager/rental/changeConfirmed/}"
                  th:object="${rentalDto}">
              <a href="#" th:onclick="'javascript:submitConfirm()'" class="btn btn-sm"
                 th:classappend="${rentalDto.confirmed} ? ' btn-primary' : ' btn-secondary'"
                 th:text="${rentalDto.confirmed} ? 'Set false' : 'Set true'">
                Confirm
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
        <!-- Reject -->
        <div class="row justify-content-center" th:classappend="${rentalDto.rejected ? 'error alert alert-danger' : ''}">
          <div class="col mb-1 mt-1">
            Reject:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="${rentalDto.rejected}"></p>
          </div>
          <div class="col mb-1 mt-1">
            <a th:href = "@{/management/manager/rental/rejection/{id}(id=${rentalDto.id})}"
               th:if="${!rentalDto.rejected}"
               class="btn btn-sm btn-danger">
              Set true
            </a>
            <form id="confirmUnreject" method="post"
                  th:if="${rentalDto.rejected}"
                  th:action="@{/management/manager/rental/rejection/delete/}"
                  th:object="${rentalDto}">
              <a href="#" th:onclick="'javascript:submitUnreject()'" class="btn btn-sm btn-primary">
                Set false
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
      </div>

      <!-- Change rental status -->
      <div class="row my-2">
        <h3>Change rental status:</h3>
        <!-- Started -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Started:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="${rentalDto.started}"></p>
          </div>
          <div class="col mb-1 mt-1">
            <form id="startRental" method="post" th:action="@{/management/manager/rental/changeStarted/}"
                  th:object="${rentalDto}">
              <a href="#" th:onclick="'javascript:submitStart()'" class="btn btn-sm"
                 th:classappend="${(rentalDto.started ? ' btn-primary' : ' btn-secondary') + (rentalDto.rejected ? ' disabled' : '')}"
                 th:text="${rentalDto.started} ? 'Set false' : 'Set true'">
                Start
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
        <!-- Ended -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Ended:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="${rentalDto.ended}"></p>
          </div>
          <div class="col mb-1 mt-1">
            <form id="endRental" method="post" th:action="@{/management/manager/rental/changeEnded/}"
                  th:object="${rentalDto}">
              <a href="#" th:onclick="'javascript:submitEnd()'" class="btn btn-sm"
                 th:classappend="${(rentalDto.ended ? ' btn-primary' : ' btn-secondary')  + (rentalDto.rejected ? ' disabled' : '')}"
                 th:text="${rentalDto.ended} ? 'Set false' : 'Set true'">
                End
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
        <!-- Reclaim protocol -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Reclaim protocol:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="(${rentalDto.reclaimProtocol} != null AND ${!rentalDto.reclaimProtocol.isEmpty()} ) ? 'Done' : 'Not done'"
            th:classappend="(${rentalDto.reclaimProtocol} != null AND ${!rentalDto.reclaimProtocol.isEmpty()} ) ? 'text-success' : 'text-danger'"></p>
          </div>
          <div class="col mb-1 mt-1">
            <a th:if="${rentalDto.reclaimProtocol} != null AND ${!rentalDto.reclaimProtocol.isEmpty()}"
               class="btn btn-primary btn-sm"
               th:href="@{/management/manager/rental/updateReclaimProtocol/{id}(id=${rentalDto.id})}">
              Update
            </a>
            <a th:href = "@{/management/manager/rental/reclaimProtocol/{id}(id=${rentalDto.id})}"
               class="btn btn-sm btn-warning" th:if="${rentalDto.reclaimProtocol} == null OR ${rentalDto.reclaimProtocol.isEmpty()}"
               th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
              Fill protocol
            </a>
            <form id="deleteProtocol" method="post" th:action="@{/management/manager/rental/deleteReclaimProtocol}"
                  th:object="${rentalDto}" th:if="${rentalDto.reclaimProtocol} != null AND ${!rentalDto.reclaimProtocol.isEmpty()}">
              <a href="#" th:onclick="'javascript:submitDelete()'" class="btn btn-sm btn-danger">
                Delete
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>

          </div>
        </div>
      </div>

      <!-- Car damage status -->
      <div class="row my-2">
        <h3>Damage status:</h3>
        <!-- Damaged -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Car damaged:
          </div>
          <div class="col mb-1 mt-1">
            <p th:text="${rentalDto.carDamaged} ? 'Yes' : 'No'"
               th:class="${rentalDto.carDamaged} ? 'text-danger' : 'text-success'"></p>
          </div>
          <div class="col mb-1 mt-1">
            <form id="carDamaged" method="post" th:action="@{/management/manager/rental/changeCarDamagedStatus}"
                  th:object="${rentalDto}">
              <a href="#" th:onclick="'javascript:submitDamaged()'" class="btn btn-sm"
                 th:classappend="${(rentalDto.carDamaged ? ' btn-primary' : ' btn-warning') + (rentalDto.rejected ? ' disabled' : '')}"
                 th:text="${rentalDto.carDamaged} ? 'Set No' : 'Set Yes'">
                Delete
              </a>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
        <!-- Damaged cost -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Damaged cost:
          </div>
          <div class="col mb-1 mt-1">
            <form id="damageCost" method="post" th:action="@{/management/manager/rental/setDamageCost}" th:object="${rentalDto}">
              <div th:object="${rentalDto.invoiceDto}">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Put costs here.." name="damageCost" th:value="*{damageCost}">
                  <div class="input-group-append">
                    <button th:onclick="'javascript:damageCost()'" class="btn btn-sm btn-secondary"
                            th:classappend="${rentalDto.rejected ? ' disabled' : ''}"
                            th:text="Add">Add</button>
                  </div>
                </div>
              </div>
              <input type="hidden" name="id" th:value="*{id}">
            </form>
          </div>
        </div>
      </div>

      <!-- Change rental payments -->
      <div class="row my-2">
        <h3>Change rental payments:</h3>
        <!-- Basic payments-->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Basic payments:
          </div>
          <div class="col mb-1 mt-1">
            <form id="basicPayment" method="post" th:action="@{/management/manager/rental/changeBasicPayment/}">

              <a href="#" th:onclick="'javascript:submitBasicPaymentPaid()'" class="btn btn-sm btn-secondary"
                 th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
                Paid
              </a>
              <a href="#" th:onclick="'javascript:submitBasicPaymentUnpaid()'" class="btn btn-sm btn-warning"
                 th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
                Unpaid
              </a>

              <input type="hidden" name="id" th:value="${rentalDto.id}">
              <input type="hidden" name="basicPaymentStatus" value="unpaid" id="basicPaymentStatus">
            </form>
          </div>
        </div>
        <!-- Damage payments -->
        <div class="row justify-content-center">
          <div class="col mb-1 mt-1">
            Damage payments:
          </div>
          <div class="col mb-1 mt-1">
            <form id="damagePayment" method="post" th:action="@{/management/manager/rental/changeDamagePayment/}">
              <a href="#" th:onclick="'javascript:submitDamagePaymentPaid()'" class="btn btn-sm btn-secondary"
                 th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
                Paid
              </a>
              <a href="#" th:onclick="'javascript:submitDamagePaymentUnpaid()'" class="btn btn-sm btn-warning"
                 th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
                Unpaid
              </a>
              <a href="#" th:onclick="'javascript:submitDamagePaymentOk()'" class="btn btn-sm btn-secondary"
                 th:classappend="${rentalDto.rejected} ? ' disabled' : ''">
                OK
              </a>
              <input type="hidden" name="id" th:value="${rentalDto.id}">
              <input type="hidden" name="damagePaymentStatus" value="unpaid" id="damagePaymentStatus">
            </form>
          </div>
        </div>
      </div>

      <!-- Close rental -->
      <div class="row my-2">
        <h3>Close rental:</h3>
      <!-- Closed -->
      <div class="row justify-content-center">
        <div class="col mb-1 mt-1">
          Closed:
        </div>
        <div class="col mb-1 mt-1">
          <p th:text="${rentalDto.closed}" th:class="${rentalDto.closed} ? 'text-success' : 'text-danger'"></p>
        </div>
        <div class="col mb-1 mt-1">
          <form id="closeRental" method="post" th:action="@{/management/manager/rental/changeClosed/}"
                th:object="${rentalDto}">
            <a href="#" th:onclick="'javascript:submitClose()'" class="btn btn-sm"
               th:classappend="${rentalDto.closed ? ' btn-primary' : ' btn-secondary'}"
               th:text="${rentalDto.closed} ? 'Set false' : 'Set true'">
              End
            </a>
            <input type="hidden" name="id" th:value="*{id}">
          </form>
        </div>
      </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>


</div>
<br>
<br><br><br>
<script type="text/javascript">
function submitStart(){
  document.getElementById('startRental').submit();
}

function submitBasicPaymentPaid(){
  document.getElementById('basicPaymentStatus').value="PAID";
  document.getElementById('basicPayment').submit();
}
function submitBasicPaymentUnpaid(){
  document.getElementById('basicPaymentStatus').value="UNPAID";
  document.getElementById('basicPayment').submit();
}

function submitDamagePaymentPaid(){
  document.getElementById('damagePaymentStatus').value="PAID";
  document.getElementById('damagePayment').submit();
}
function submitDamagePaymentUnpaid(){
  document.getElementById('damagePaymentStatus').value="UNPAID";
  document.getElementById('damagePayment').submit();
}
function submitDamagePaymentOk(){
  document.getElementById('damagePaymentStatus').value="OK";
  document.getElementById('damagePayment').submit();
}

function submitUnreject(){
  document.getElementById('confirmUnreject').submit();
}

function submitConfirm(){
  document.getElementById('confirmRental').submit();
}

function submitEnd(){
  document.getElementById('endRental').submit();
}

function submitDelete(){
  document.getElementById('deleteProtocol').submit();
}

function submitClose(){
  document.getElementById('closeRental').submit();
}

function damageCost(){
  document.getElementById('damageCost').submit();
}

function submitDamaged(){
  document.getElementById('carDamaged').submit();
}

  function driverLicenseFieldOn(){
  if(document.getElementById("NoDriver").checked)
    document.getElementById("drivingLicense").style.display = "block";
  else
    document.getElementById("drivingLicense").style.display = "none";
}

//Data Picker Initialization
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy'
});
</script>
<footer>
  <div class="container-lg">
    <a href="https://www.flaticon.com/free-icons/car" title="car icons">Car icons created by Freepik - Flaticon</a>
    Menu Icon created by Caleb Amesbury
    http://calebamesbury.com
    http://dribbble.com/CalebAmesbury
  </div>
</footer>
</body>
</html>