<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Take that car! - Rent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take That Car! - Register User</title>
  <style>
        section{
            padding: 60px 0;
        }
    </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div th:insert="../static/navbar"></div>
<div class="container-lg">
  <h4 class="mt-3">Do you wanna rent this car?</h4>
  <!-- car displayer-->
  <div class="row bg-secondary rounded-3 align-items-center align-middle">
    <div class="col-md-2 col-12 align-middle justify-content-center text-center"><image th:src="${carDto.imagePath}" class="img-fluid"/></div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Brand
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.brand}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Model
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.model}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Engine:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.carEngine}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        HP:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.hp} +' hp'"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Fuel:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.fuel}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Type:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.carType}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Sitting places:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.sittingPlaces}"/>
    </div>
    <div class="col-lg-1 col-6">
      <div class="row justify-content-center align-middle fw-bold">
        Price:
      </div>
      <div class="row justify-content-center align-middle text-white fs-3" th:text="${carDto.price}"/>
    </div>
  </div>
  <!--  -->
  <h4 class="mt-3">Rental form</h4>
  <!-- CAR ALREADY RENTED -->
  <div th:if="${carAlreadyRented}">
    <p th:text="${carAlreadyRented}" class="error alert alert-danger">
      Validation error
    </p>
  </div>
  <form id="rental" th:action="@{/rental}" th:object="${rentalRequestDto}" method="post">
    <!-- ERRORS DISPLAY -->
    <div th:if="${#fields.hasAnyErrors()}">
      <ul th:class="${#fields.hasAnyErrors()}? 'error alert alert-danger'">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
      </ul>
    </div>
    <div class="row mt-1">
      <!-- company driver -->
      <div class="col-md-3 col-6" th:onclick="'javascript:driverLicenseFieldOn()'">
        <label for="driverForm">Do you need company driver?  </label>
        <div class="form-check form-check-inline" id="driverForm">
          <input class="form-check-input" type="radio" name="driverPresence" id="NoDriver" value="false" th:field="*{companyDriver}">
          <label class="form-check-label">No driver</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="driverPresence" id="WithDriver" value="true" th:field="*{companyDriver}">
          <label class="form-check-label">With driver</label>
        </div>
      </div>
      <!-- start and end date -->
      <div class="col-md-3 col-6">
        <div class="row">
          <div th:field="*{startDate}" class="input-group date datepicker" id="datepicker1">
            <label class="form-check-label" for="startDate">Start Date:&nbsp;&nbsp;</label>
            <input type="text" class="form-control" name="startDate" id="startDate" placeholder="12-01-2022">
            <span class="input-group-append">
                <span class="input-group-text bg-white d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
          </div>
          <p th:each="error : ${#fields.errors('startDate')}" th:text="${error}" th:class="${#fields.hasErrors('startDate')}? 'error alert alert-danger'">
            Validation error
          </p>
        </div>
        <div class="row">
          <div th:field="*{endDate}" class="input-group date datepicker" id="datepicker2">
            <label class="form-check-label" for="endDate">End Date:&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" name="endDate" id="endDate" placeholder="12-01-2022">
            <span class="input-group-append">
                <span class="input-group-text bg-white d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
          </div>
          <p th:each="error : ${#fields.errors('endDate')}" th:text="${error}" th:class="${#fields.hasErrors('endDate')}? 'error alert alert-danger'">
            Validation error
          </p>
        </div>

      </div>
      <!-- driving license -->
      <div class="col-md-3 col-6" id="drivingLicense">
        <div class="row mb-1">
          <label class="form-check-label" for="drivingLicenseForm" >Insert driving license:</label>
        </div>
        <div class="row">
          <input type="text" class="form-control" placeholder="Driving License Id" name="drivingLicense" id="drivingLicenseForm" th:field="*{drivingLicense}">
        </div>
      </div>
      <!-- button -->
      <div class="row mt-4 align-items-center align-middle text-center">
        <div class="col-12 align-items-center align-middle text-center">
          <button class="btn btn-lg btn-secondary" id="submitButton">Proceed</button>
        </div>
      </div>
      <!-- alert displayer -->
      <div class="row mt-4">
        <div class="col-3"></div>
        <div class="col-6">
          <p class="error alert alert-warning text-center">
            Please be aware that rental can be rejected by our Manager.<BR>
            Check status after 24h since rental.
          </p>
        </div>
          <div class="col-3"></div>
      </div>
    </div>

    <div th:object="${carDto}" >
      <input type="hidden" th:value="*{id}" name="id"/>
      <input type="hidden" th:value="*{brand}" name="brand"/>
      <input type="hidden" th:value="*{model}" name="model"/>
      <input type="hidden" th:value="*{imagePath}" name="imagePath"/>
      <input type="hidden" th:value="*{carType}" name="carType"/>
      <input type="hidden" th:value="*{carEngine}" name="carEngine"/>
      <input type="hidden" th:value="*{hp}" name="hp"/>
      <input type="hidden" th:value="*{fuel}" name="fuel"/>
      <input type="hidden" th:value="*{sittingPlaces}" name="sittingPlaces"/>
      <input type="hidden" th:value="*{price}" name="price"/>
    </div>

  </form>
</div>

<script type="text/javascript">
  function driverLicenseFieldOn(){
  if(document.getElementById("NoDriver").checked)
    document.getElementById("drivingLicense").style.display = "block";
  else
    document.getElementById("drivingLicense").style.display = "none";
}

//Data Picker Initialization
$(function() {
        $("#datepicker1, #datepicker2").datepicker({
                                                        //viewMode: 'months',
                                                        format: 'dd-mm-yyyy',
                                                    });
    });
</script>

</body>
</html>